#ProjectContainer {
  margin: 10px;
}

#cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#cardBorder {
  width: 30%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  
}

#stateDiv {
  display: flex;
  align-items: center;
}
#stateIndication {
  display: block;
  content: ' ';
  margin-right: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
