#introduction-section {
  position: relative;
  background-color: rgb(68, 67, 64);
  display: flex;
  justify-content: space-around;
  margin: 60px;
}

#stack-section {
  position: relative;
  margin: 60px;
}

#project-section {
  background-color: rgba(0, 0, 0, 0.911);
  margin: 60px 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
  box-shadow: -20px 20px rgba(0, 0, 0, 0.418);
  height: 42vh;
}
